@model QuanLyBenhVienNoiTru.Models.ViewModels.TaiKhoanViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Đăng ký tài khoản mới</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("DangKy", "TaiKhoan", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.TenDangNhap, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TenDangNhap, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.MatKhau, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MatKhau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.XacNhanMatKhau, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.XacNhanMatKhau, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.XacNhanMatKhau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.VaiTro, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.DropDownListFor(m => m.VaiTro, new SelectList(new[] { "Bác sĩ", "Khách", "Admin" }), "-- Chọn vai trò --", new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => m.VaiTro, new SelectList(new[] { "Khách" }), null, new { @class = "form-control", @readonly = "readonly" })
                            }
                            @Html.ValidationMessageFor(m => m.VaiTro, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Đăng ký" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}